<div class="">
    <h1>Aciertos {{aci}}</h1>
    <ul class="menuglobal">
        <li class="listmenu"><a href="test1_1?test=1"> <button class="botonprueba1_2" value="1" name="1"
                    type="submit"></button>
                </button></a> </li>

    </ul>
</div>

<div class="">
    <ul class="">
        <li>
            El primer numero es un {{num1}}
        </li>

        <li>
            El segundo numero es un {{num2}}

        </li>
        <li>
            El tercer numero es un {{num3}}

        </li>
        <li>

            El cuarto numero es un {{num4}}

        </li>




    </ul>
</div>

<a href="/reset">Reset</a>