{{#each objectdata.filtered}}
<div class="content">

    <h1 id="p1Name" class=" titletopmain center_text">Jugador 2 | Pregunta <span
            id="preguntaid">{{objectdata.datainfo.actual}}</span>
    </h1>
    <div class="contenedor1">
        <div class="tools">
            <div id="respuestanow" hidden class="center_text itm_2">{{this.ok}}</div>
            <div id="preg_1" class="center_text itm_2">{{this.pregunta}}</div>
            <div id="itm_1_1" class="center_text itm_1">{{this.pos.p1}}</div>
            <div id="itm_1_2" class="center_text itm_1">{{this.pos.p2}}</div>

            <div id="itm_1_2" class="center_text itm_1">{{this.pos.p3}}</div>
            <div id="itm_1_2" class="center_text itm_1">{{this.pos.p4}}</div>
        </div>

        <div class="respuesta">
            <h3 class="center_text"> Tu respuesta </h3>
            <div id="contentrespuesta" class="center_text contentrespuesta">
                {{!-- {{#each this.pos}} --}}

                <input class="resinput" value="" id="res2" type="{{this.oktype}}">
                {{!-- {{/each}} --}}

            </div>
            <div id="validar" class="center_text ">
                <button id="enviarinfo2" class="center_text btn_res" type="submit">Enviar</button> </div>
        </div>
    </div>
    <script src="../js/global.js"></script>
    <script src="../js/test2.js"></script>

    {{/each}}